<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Nuudel{% endblock %}</title>
  <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main_css.css') }}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" href="/">Nuudel</a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
        {% if g.user %}
          <li class="nav-item"><a class="nav-link" href="/rating">Рейтинг</a></li>
          <li class="nav-item"><a class="nav-link" href="/user">Профиль</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Выход</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="/login">Войти / Зарегистрироваться</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <main class="container">
    <div class="row">
      <div class="col-4 mx-auto">
        {% block title2 %}{% endblock %}
        {% if success %}
          <div class="alert alert-success mt-3">
          {{ success }}
          </div>
        {% endif %}

        {% if feedback %}
          <div class="alert alert-info mt-3">
            {{ feedback }}
          </div>
        {% endif %}

        {% if error %}
          <div class="alert alert-danger mt-3">
            {{ error }}
          </div>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  {% block scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  {% endblock %}
</body>
</html>
