{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block title2 %}
<h1>Nuudel<br>лапша из букв</h1>
<p>Выбери тему и попробуй угадать слово, буквы которого перемешались!</p>
{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('play') }}">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Тема</th>
        <th>Сложность</th>
      </tr>
    </thead>
    <tbody>
      {% for category in category_for_tabel %}
      <tr>
        <td>
          <label>
            <input type="radio" name="category" value="{{ category.category }}" required>
            {{ category.category }}
          </label>
        </td>
        <td>{{ category.difficulty }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary mt-3">Начать игру</button>
</form>
{% endblock %}
