{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block title2 %}
<h1>Nuudel<br>лапша из букв</h1>
<p>Выбери тему и попробуй угадать слово, буквы которого перемешались!</p>
{% endblock %}

{% block content %}
<form method="post" action="/play">
  <label for="category" class="form-label">Тема:</label>
  <select class="form-select" id="category" name="category">
    <option value="animals">Животные</option>
    <option value="kitchen">Кухня</option>
    <option value="tools">Инструменты</option>
  </select>
  <button type="submit" class="btn btn-primary mt-3">Начать игру</button>
</form>
{% endblock %}
