{% extends "base.html" %}

{% block title %}Игра{% endblock %}

{% block title2 %}
<h2>Угадай слово!</h2>

<p class="lead">Перемешанное слово:</p>
<div class="display-4 mb-4">{{ scrambled_word }}</div>

{% endblock %}

{% block content %}

<form method="post" action="/submit_answer">
  <div class="mb-3">
    <input type="text" class="form-control" name="guess" placeholder="Твой вариант..." required>
  </div>
<div class="d-flex gap-3">
    <button type="submit" class="btn btn-success">Проверить</button>
</form>
  <form method="get" action="/">
    <button type="submit" class="btn btn-primary">Новое слово</button>
</form>
</div>
{% endblock %}
