{% extends "base.html" %}

{% block title %}Игра{% endblock %}

{% block title2 %}
<h2>Угадай слово!</h2>

<p class="lead">Перемешанное слово:</p>
<div class="display-4 mb-4">{{ scrambled_word }}</div>

{% endblock %}

{% block content %}

<form method="post" action="/submit_answer">
  <div class="mb-3">
    <input type="text" class="form-control" name="guess" placeholder="Твой вариант..." required>
  </div>
  <button type="submit" class="btn btn-primary">Проверить</button>
  <input class="sustem", name="etalon", id="etalon", value="{{ etalon }}">
  <input class="sustem", name="scrambled_word", id="scrambled_word", value="{{ scrambled_word }}">
</form>

{% endblock %}
